# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
venv/
.venv/
env/

# Data & Local Outputs
data/
*.parquet
*.csv
*.duckdb
*.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!example.tfvars

# dbt
src/dbt/target/
src/dbt/dbt_packages/
src/dbt/logs/

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
